node_modules/
Tailwind-Major-Project/package-lock.json
Tailwind-Major-Project/package.json
Tailwind-Major-Project/tailwind.config.js
Tailwind-Major-Project/yarn.lock
Tailwind-Major-Project/input.css

